# Переименуй меня в просто .env

BOT_TOKEN=

# Чаты где бот вообще работает (можно несколько)
CONTROL_CHAT_IDS=

# Куда слать алерты
ALERT_CHAT_IDS=123456789,123123123,456456456

# Админы (полный доступ)
ADMIN_IDS=123456789,123123123,456456456

# Пользователи (если пусто — все могут смотреть)
USER_IDS=

PROMETHEUS_URL=https://prometheus.domen.com
PROMETHEUS_USER=admin
PROMETHEUS_PASS=P@$$w0rd
# Если есть нормальный серт от Cloudflare например
# Если самоподписанный, лучше поставить false
PROMETHEUS_VERIFY_SSL=true

JOB_FILTER=nodes
HTTP_TIMEOUT=10
PROM_CACHE_TTL=10

POLL_SECONDS=30
DOWN_CONFIRM_SECONDS=360
UP_CONFIRM_SECONDS=15
DISK_ALERT_PCT=90
